section.snac-service {
}



/* list */

div.snac-service-list { // flex box to layout a bunch of images.
    //width: 100%;
    // border: 2px solid green;

    //padding: 5px 0px;

    a { // make href fill div.
        display:block;
        height: 100%;
        width: 100%;
    }
}



.flexbox .snac-service-list {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);
}

// what to do if we don't have it.
.no-flexbox .snac-service-list {

    // border: solid 1px red;

    &:after {
        content:'';
        display:block;
        clear: both;
    }
}    


/* itme */


.snac-service-item { // simple thumnail and link.
    position: relative;
    overflow: hidden;
    //border: 1px solid black;
    margin: 5px;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    width: 200px;
    height: 200px;

    &:hover {
        box-shadow: 0px 0px 10px #333;
        transform: scale(1.01); // horrible, but fun that it works.
    }
}


.flexbox .snac-service-item {
    //@include flex(1 0 auto);   /* don't grow, shrink uniformly */
    border-radius: $base-border-radius;
}

.no-flexbox .snac-service-item {
    float: left;
}


/* title */

.snac-service-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: $service-backing-color;
    text-align:center;
    margin:0;
}




/*

Expected format is:

    <ul>
        <li style="background-image:url(/file.jpg);">
            <a href="/service/internet-service/">Internet Service</a>
        </li>
        ...
    </ul>

*/

.flexbox section.snac-service ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);
}

.flexbox section.snac-service li {
    
    height: 200px;
    min-width: 200px;
    @include flex(1);

    //background-image: attr(data-image);
    //background-image: url('/media/cache/71/25/712543babd1b29692f49cc9800afdc85.jpg');
    background-image: attr(data-image);
    // background-color: $service-backing-color;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

}

.flexbox section.snac-service a {
    display: block;
    height: 100%;
    width: 100%;
    text-align:center;
}
