
/* 

Default Header.

Header text is in a H1. Links to colleges and university are in a paragraph
below.

*/

header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 2em;
    background-color: $header-background-color;

    h1 {
        @include outer-container;
        @include outer-padding;
        font-size: 2rem;
        small {
            font-size: 1rem;
        }

        margin-bottom:0;

        a {
            color: white;
        }
    }

    p {
        @include outer-container;
        @include outer-padding;
        margin-bottom:0;
        color: $header-phrasing-color;
    }
}

/*

Landing Header

Full screen background image. Drop header to bottom.

*/

.flexbox .snac-landing {
    position: relative; // allow childrent to be absolute.
    min-height: 100vh; // fill display.
    background-color: $header-background-color;
    background-image: url('/static/snac/images/040703_5205_2.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.flexbox .snac-landing-title {
    position: absolute;
    left:0;
    right:0;
    bottom: 0;

    background-color: $landing-title-color;
    padding-top: 30px;
    padding-bottom: 30px;
}
