@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/base';

// @import 'snac-mixins';
// fonts
// color scheme
// - https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
// @import '/fonts/theleagueof-league-gothic-64c3ede/webfonts/stylesheet.css';
//$sans-serif: 'Oxygen', $helvetica;


//$snac-background-color = rgba();
//$footer-background-color = rgba();


// http://www.tigercolor.com/color-lab/color-theory/color-harmonies.htm

$header-background-color: #222930;
$footer-background-color: #222930;

$header-phrasing-color: rgb(150,150,150);
$footer-phrasing-color: rgb(150,150,150);

$landing-title-color: rgba(0,0,0,0.8);
//$blogpost-background-color: #4EB1BA;
$blogpost-background-color: #E9E9E9;
$service-backing-color: #E9E9E9;




@mixin outer-padding($padding: 5px) {
    padding-left: 5px; // pad off the edge.
    padding-right: 5px; // pad off the edge.
}






body {
    margin: 0px;
    //border: solid 1px red;
    box-sizing: border-box;
}

section {
    width: 100%;
    @include outer-container;
    @include outer-padding;
    text-align: justify;
    

}

/* Default styles from bitters/_lists.scss */

ul {
    list-style-type: circle;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
}

ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
}

// experiment for putting image between sections.

.snac-spacing {
    min-height: 40vh;
    background-color: #222;
    background-image: url('/static/snac/images/aca_exterior_day.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: inset 0px 12vh 3vh -10vh white;

}

@import 'snac-layout.scss';
@import 'snac-heading.scss';
@import 'snac-blogpost.scss';
@import 'snac-service.scss';
@import 'snac-footer.scss';

// - rjs you are here -

//@import 'snac-forms.scss';

