/*
    The footer is expected to contain a number of DIVs which will be flexed out
    to use the space sensibly.
*/

footer {

    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 2em;

    background-color: $footer-background-color;
    
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);

    font-size: 80%;

    div {

        padding: 1em;

        p {
            color: $footer-phrasing-color;
            text-align: center;
            letter-spacing: 0.1em;
            font-weight: bold;
        }

        ul {
            text-align: left;
            list-style: none;

            a { text-decoration: none; }
        }
    }
}

