{% extends "snac/base.html" %}
{% load static %}
{% load thumbnail %}


{% block body-header %}
<header class="snac-landing">
    <div class="snac-landing-title">
        {% include "snac/snac_header.html" %}
    </div>
</header>
</div>
{% endblock %}

{% block body-content %}

{% if blogpost_list %}
<section class="snac-blogpost">
    <h2>News</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
    est laborum.</p>

    {% for blogpost in blogpost_list %}

    <a href="{{ blogpost.get_absolute_url }}">
    <article>
        <p class="snac-blogpost-age"><small>({{ blogpost.get_age_string }} ago)</small></p>
        <h3>{{ blogpost.title }}</h3>
        <p>{{ blogpost.blurb }}</p>
    </article></a>
    {% endfor %}
</section>
{% endif %}


{% if service_list %}
<section class="snac-service">

    <h2 id="test">Services</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
    est laborum.</p>

    <div class="snac-service-list">

        {% for service in service_list %}
        {% if service.icon %}
        {% thumbnail service.icon "200x200" crop="center" as iconcrop %}
        <div class="snac-service-item" style="background-image:url({{ iconcrop.url }});">
        {% empty %}
        <div class="snac-service-item">
        {% endthumbnail %}
        {% else %}
        <div class="snac-service-item">
        {% endif %}
            <a href="{{ service.get_absolute_url }}">
                <p class="snac-service-title">{{ service.title }}</p>
            </a>
        </div>
        {% endfor %}

    </div>

</section>
{% endif %}

<!--
<div class="snac-spacing">
</div>
-->






{% endblock %}


{% block body-footer %}
<footer>
    {% include 'snac/snac_footer.html' %}
</footer>
{% endblock %}
