{% extends "snac/base.html" %}
{% load static %}
{% load thumbnail %}

{% block body-header %}
<header class="snac-landing">
    <div class="snac-landing-title">
        {% include "snac/snac_header.html" %}
    </div>
</header>
</div>
{% endblock %}

{% block body-content %}

{% if service_list %}
<section class="snac-service">
    <ul>
        {% for service in service_list %}
        {% if service.icon %}
        {% thumbnail service.icon "200x200" crop="center" as iconcrop %}
        <li data-image="{{ iconcrop.url }}">
        {% empty %}
        <li>
        {% endthumbnail %}
        {% else %}
        <li>
        {% endif %}
            <a href="{{ service.get_absolute_url }}">{{ service.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% if service_list_hide %}
<section class="snac-service">
    <div class="snac-service-list">
        {% for service in service_list %}
        {% if service.icon %}
        {% thumbnail service.icon "200x200" crop="center" as iconcrop %}
        <div class="snac-service-item" style="background-image:url({{ iconcrop.url }});">
        {% empty %}
        <div class="snac-service-item">
        {% endthumbnail %}
        {% else %}
        <div class="snac-service-item">
        {% endif %}
            <a href="{{ service.get_absolute_url }}">
                <p class="snac-service-title">{{ service.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% if blogpost_list %}
<section class="snac-blogpost">
    {% for blogpost in blogpost_list %}
    <article>
        <p class="snac-blogpost-age"><small>({{ blogpost.get_age_string }} ago)</small></p>
        <h2>{{ blogpost.title }}</h2>
        <p>{{ blogpost.blurb }}</p>
	<p class="snac-blogpost-link"><a href="{{ blogpost.get_absolute_url }}">Read more.</a></p>
    </article>
    {% endfor %}
</section>
{% endif %}

<!--
<div class="snac-spacing">
</div>
-->

{% endblock %}


{% block body-footer %}
<footer>
    {% include 'snac/snac_footer.html' %}
</footer>
{% endblock %}
