<div>
    <p>
        St Mary's Newman<br>
        Academic Centre<br>
        887 Swanston St<br>
        Parkville VIC 3052
    </p>
    <p>
        <a href="mailto:library@snac.unimelb.edu.au"><i class="fa fa-envelope fa-2x"></i></a>
        <a href="https://www.facebook.com/snacunimelb"><i class="fa fa-facebook-official fa-2x"></i></a>
        <a href="https://www.youtube.com/user/snacademicentre"><i class="fa fa-youtube fa-2x"></i></a>
        <a href="https://plus.google.com/106322446685870365554/about fa-2x"><i class="fa fa-google-plus"></i></a>
        <!--
        <a href=""><i class="fa fa-rss"></i></a>
        -->
    </p>
</div>
<div>
    <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="//www.stmarys.unimelb.edu.au/">St Mary's College</a></li>
        <li><a href="//www.newman.unimelb.edu.au/">Newman College</a></li>
        <li><a href="//colleges.unimelb.edu.au/">Residential Colleges</a></li>
        <li><a href="//www.unimelb.edu.au">The University of Melbourne</a></li>
    </ul>
</div>
