.fieldname-markdown textarea { font-family: monospace; }
.hallotoolbar .hallohr { display: none; } 
.hallotoolbar .hallowagtailimage { display: none; }
/* .hallotoolbar .hallowagtaildoclink { display: none; } */
.hallotoolbar .hallowagtailembeds { display: none; }
