{% load static wiki_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="St Mary's Newman Academic Centre">
<meta name="author" content="Robert Shelton">
{% block head-title %}
<title>SNAC</title>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki/base.min.css' %}" />
{% block head-style %}
{% endblock %}
</head>
<body>

{% block body-menu %}
{% wiki_root as site_root %}                                                              
{% wiki_menu parent=site_root calling_page=self %}                                             
{% endblock %}
{% block body-header %}

<div class="container page-header">
    <h1>{{ self.title }}</h1>
</div>
{% endblock %}



{% block body-content %}
{% endblock %}

{% block body-footer %}
<footer>

<div class="container">
<hr>
<div class="row">
<div class="col-xs-6">
<p class="text-right">
St Mary's Newman<br>
Academic Centre<br>
887 Swanston St<br>
Parkville VIC 3052<br>
<a href="mailto:library@snac.unimelb.edu.au"><i class="fa fa-envelope"></i></a>
<a href="https://www.facebook.com/snacunimelb"><i class="fa fa-facebook-official"></i></a>
<a href="https://www.youtube.com/user/snacademicentre"><i class="fa fa-youtube"></i></a>
<a href="https://plus.google.com/106322446685870365554/about"><i class="fa fa-google-plus"></i></a>
<!--
<a href=""><i class="fa fa-rss"></i></a>
-->
</p>
</div>
<div class="col-xs-6">
<p class="text-left">
<a href="/about">About Us</a><br>
<a href="/contact">Contact Us</a><br>
<a href="http://www.stmarys.unimelb.edu.au/">St Mary's College</a><br>
<a href="http://www.newman.unimelb.edu.au/">Newman College</a><br>
<a href="http://colleges.unimelb.edu.au/">Residential Colleges</a><br>
<a href="https://www.unimelb.edu.au">The University of Melbourne</a>
</p>
</div>
</div>
</div>



</footer>
{% endblock %}

<script src="{% static 'snac.js' %}"></script>
</body>
</html>
