{% extends "wiki/base.html" %}
{% load static %}

{% block body-header %}
{% endblock %}

{% block body-content %}
<div class="home-wrapper">
    <div class="home-title">
        <div class="container">
            <h1>St Mary's Newman Academic Centre</h1>
            <p>A joint facility for 
            <a href="http://www.stmarys.unimelb.edu.au/">St Mary's College</a> and
            <a href="http://www.newman.unimelb.edu.au/">Newman College</a><br>
            In affilliation with
            <a href="https://www.unimelb.edu.au/">The University of Melbourne</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block body-footer %}
{% endblock %}
