{% load wiki_tags wagtailcore_tags %}
{% wiki_root as site_root %}

<div role="navigation" class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#body-navigation-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% pageurl site_root %}" class="navbar-brand" title="St Mary's Newman Academic Centre" data-placement="bottom">SNAC</a>
        </div>

        <div class="navbar-collapse collapse" id="body-navigation-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for menuitem in menuitems %}
                    <li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
                        {% if menuitem.show_dropdown %}
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ menuitem.title }}</b></a>
                            {% wiki_menu_children parent=menuitem %}
                        {% else %}
                            <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                        {% endif %}
                    </li>       
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

