<div class="container">
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <p class="text-right">
                St Mary's Newman<br>
                Academic Centre<br>
                887 Swanston St<br>
                Parkville VIC 3052<br>
                <a href="mailto:library@snac.unimelb.edu.au"><i class="fa fa-envelope"></i></a>
                <a href="https://www.facebook.com/snacunimelb"><i class="fa fa-facebook-official"></i></a>
                <a href="https://www.youtube.com/user/snacademicentre"><i class="fa fa-youtube"></i></a>
                <a href="https://plus.google.com/106322446685870365554/about"><i class="fa fa-google-plus"></i></a>
                <!--
                <a href=""><i class="fa fa-rss"></i></a>
                -->
            </p>
        </div>
        <div class="col-xs-6">
            <p class="text-left">
                <a href="/about">About Us</a><br>
                <a href="/contact">Contact Us</a><br>
                <a href="//www.stmarys.unimelb.edu.au/">St Mary's College</a><br>
                <a href="//www.newman.unimelb.edu.au/">Newman College</a><br>
                <a href="//colleges.unimelb.edu.au/">Residential Colleges</a><br>
                <a href="//www.unimelb.edu.au">The University of Melbourne</a>
            </p>
        </div>
    </div>
</div>
